<form method = 'POST' action = '/recipes'>
  <label for="name">Name of the recipe:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="descr">Description:</label><br>
  <input type="text" id="descr" name="descr"><br><br>
  <label for="rate">Rating:</label><br>
  <input type="text" id="rate" name="rate"><br><br>
  <label for="prep_time">Preparation time:</label><br>
  <input type="text" id="prep_time" name="prep_time"><br><br>
  <input type="submit" value="Submit">
</form>
